#widgets{
    height:300px;
    overflow:auto;
    padding: 20px 6px 20px 6px;
    background-color:#f2f2f2;
    border:1px solid #cccccc;
}

input[type=text], select {
  width: 100%;
  padding: 10px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

#fillController input{
    margin: 10px;
}

#fillController label{
    font-weight: 200;
    letter-spacing: 1px;
}

#animateController input{
    margin: 10px;
}

#animateController label{
    font-weight: 200;
    letter-spacing: 1px;
}

button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
}

button:hover{
    background-color:white;
    border:1px solid #4CAF50;
    color:black;
    
}

